$primary-color: #f19700;
$secondary-color: #00b2f9;
$terciary-color: #fadc48;
$neutral-color: #52473a;

/*estilos propios de las diapositivas*/
html {
  font: normal 62.5% Arial, Helvetica, sans-serif;
}

a {
	text-decoration: underline;
	color: $secondary-color;
	&:hover {
		text-decoration: none;
	}
}

/*body {
	font-family: Helvetica, Arial, sans-serif;
}*/

.reveal .slides {
	position: relative;
	z-index: 1;
	width: 100% !important;
	height: 100% !important;
	margin: 0;
	padding: 0;
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 4rem;
		padding: 2rem 3rem;
		background-color: $primary-color;
		.logo-tanta {
			width: 12rem;
		}
		.logo-meetup {
			font-family: 'Baloo Bhaina', cursive;
			font-size: 4em;
			color: #000;
		}
	}
	.logos-company a {
		display: inline-block;
		vertical-align: middle;
		margin-right: 1em;
	}
	.title-header {
		font-family: 'Roboto', sans-serif;
		font-size: 4rem;
	}
	section.home {
		background: url("../../images/pexels-photo-239898.jpeg") no-repeat 50% 100%;
		header {
			margin-bottom: 0;
		}
		.content {
			padding: 5em 2em 2em;
			text-align: center;
		}
	}
	section.subhome {
		background-color: $terciary-color;
		.content {
			display: flex;
			align-items: center;
			height: 100%;
		}
	}
	.subhome-text {
		//max-width: 50%;
		margin: 0 auto;
		text-align: left;
	}
	section {
		display: flex !important;
		flex-direction: column;
		align-items: stretch;
		//position: static !important;
		height: 100% !important;
		margin: 0;
		padding: 0;
		
		.cover-slides {
			display: flex;
			flex-direction: column;
			position: relative;
			width: 50%;
			height: 100vh;
			background-color: $secondary-color;
			color: #fff;
			.content {
				flex: 1;
			}
		}
		.content {
			padding-left: 4em;
			padding-right: 4em;
		}
	}
	.main-title {
		//font-family: 'Patua One', cursive;
		font-family: 'Fredoka One', cursive;
		font-size: 8rem;
		line-height: 150%;
	}

	.title-subhome {
		display: inline-block;
		margin-bottom: 2rem;
		padding: 2.4rem 2rem;
		background-color: $neutral-color;
		font-family: 'Fredoka One', cursive;
		font-size: 7rem;
		color: $terciary-color;
	}

	//Definition titles
	.title-level2 {
		margin-bottom: 1em;
		font-size: 3.5em;
	}

	.title-subhome-text {
		font-size: 7rem;
		color: $neutral-color;
	}

	.rrss {
		padding-left: 2em;
		padding-right: 2em;
	}
	code {
		border-left: 5px solid $secondary-color;
		font-size: 1.6rem;
	}
	
}

.reveal .slides > section > section {
	padding: 0;
}

/*module rrss*/
.rrss {
	text-align: left;
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	li {
		margin-bottom: 1rem;
		font-size: 2rem;
		a {
			color: #000;
			font-weight: bold;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
		&:before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			width: 4rem;
			height: 4rem;
			margin-right: 1rem;
			border: 2px solid #000;
			//background-color: #fff;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-size: 60% 60%;
		}
	}
	.tw {
		&:before {
			background-image: url("../../images/logo_twitter.svg");
		}
	}
	.ln {
		&:before {
			background-image: url("../../images/logo_linkedin.svg");
			background-size: 94% 93%;
		}
	}
}



.content {
	text-align: left;
	p {
		line-height: 150%;
		strong {
			font-weight: bold;
		}
	}
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	li, p {
		margin-bottom: 1em;
		font-size: 2.8rem;
	}
	li {
		position: relative;
		padding-left: 1em;
	}
	li:before {
		content: '';
		position: absolute;
		top: .4em;
		left: 0;
		width: .4em;
		height: .4em;
		border-radius: 50%;
		background-color: $secondary-color;
	}
}

.code-columns {
	display: flex;
	flex-direction: row;
	> * {
		flex-grow: 1;
	}
}

.img {
	text-align: center;
	img {
		display: inline-block;
			max-width: 100%;
	}
	&.size2 {
		img {
			width: 50%;
		}
	}
}

/*progress bar*/
.reveal .progress span {
	background-color: $secondary-color;
}

/*direction arrows*/
.reveal .controls {
	.navigate-up {
		border-bottom-color: $secondary-color;
	}
	.navigate-right {
		border-left-color: $secondary-color;
	}
	.navigate-down {
		border-top-color: $secondary-color;
	}
	.navigate-left {
		border-right-color: $secondary-color;
	}
	
}


@media (min-width: 1200px) {

	.reveal {
		code {
			max-width: 60%;
			margin: 0 auto;
		}
	}

}